
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.topnav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-form {
    display: flex;
}

#search-input {
    padding: 5px;
    width: 200px;
    border: 1px solid #666;
}

#search-input:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #3c5b96;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button[type="icon"] {
  background-color: whitesmoke;
  color: white;
  border: none;
  height: 20%;
  cursor: pointer;
  padding: 5px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    max-width: 250px;
}

.product img {
    max-width: 100%;
}
.product:hover{
  transform:scale(1.04);
  transition:transform 0.3s ease;

}


  .fa-cart-plus{
    background:#3c5b96;
  }
  
  .addtocart{
    display:block;
    
    border-radius:180px;
    border:none;
    font-size:1.5em;
    position:relative;
    background:#3c5b96;
    cursor:pointer;
    height:1.5em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
    padding: 5px;
    margin: 22px;
    max-width: 200px;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:white;
    text-align:center;
    
    color:#fff;
    background: #3c5b96;
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    font-size:75%;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  .i{
    margin-right:10px;
    line-height:1.4em;
    text-shadow: none !important;
    font-weight:bold;
  }
  .done{
    background:#be2edd;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
  
    transform:translate(-110%) skew(-40deg);
  }
  .posttext{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:#be2edd;
  }
  .fa-check{
    background:#be2edd;
  }
  
  .buynow{
    display:block;
    border-radius:180px;
    border:none;
    font-size:1.5em;
    position:relative;
    background:#be2edd;
    cursor:pointer;
    height:1.5em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
    padding: 5px;
    margin: 22px;
    max-width: 200px;
  }
  .buynow:hover{
    transform:scale(1.1);
  }
  .buytext{
    color:white;
    text-align:center;
    
    color:#fff;
    background: #be2edd;
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    font-size:75%;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  .buytextdone{
    background:#be2edd;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
  
    transform:translate(-110%) skew(-40deg);
  }